body {
    font-family: 'Poppins', sans-serif;
}

.half {
    width: 50%;
    padding: 5%;

}

span {
    color: orange;
}

.flexible-container {
    display: flex;
    padding: 0%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(tomato orange);
    background-color: orange;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 40px;
}

.banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.half2 {
    width: 50%;
    padding: 5%;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

footer p {
    text-align: center;
    background-color: tomato;
    height: 40px;
}